*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url(img/BGimage.png);
    background-repeat: no-repeat;
    background-size: 931px, auto;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

.navbar-brand {
    margin-left: 5%;
    font-weight: 500;
    color: #FFFFFF;
}

.navbar-brand span {
    font-weight: 800;
}

h1 {
    margin-left: 43%;
}

.form-container {
    width: 379px;
    margin-left: 43%;
}

.Ellipse {
    margin-top: -405px;
    margin-right: -75px;
}

.second-part button {
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: 50px;
}

.fa-brands {
    font-size: 20px;
}

.facebook {
    background-color: #395185;
    box-shadow: 0px 3.54759px 3.54759px rgba(0, 0, 0, 0.11);
    border-radius: 7.09518px;
    border-color: #395185;
}

.facebook a {
    color: var(--colour-white);
    font-size: 12px;
    text-decoration: none;
}

.facebook a:hover {
    text-decoration: underline;

}

.google {
    background-color: var(--colour-white);
    box-shadow: 0px 3.54759px 3.54759px rgba(0, 0, 0, 0.11);
    border-radius: 7.09518px;
    border-color: var(--colour-white);
}

.google a {
    font-size: 12px;
    text-decoration: none;
    color: #AEAEAE;
    
}

.google a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 10px;
}

.bottom-links{
    text-align: center;
    font-size: 10px;
    margin-left: -278px;
    margin-top: 10px;
}

.bottom-links span {
    color: var(--colour-blue);
}

.bottom-links a {
    text-decoration: none;
    color: var(--colour-grey);
    display: block;
}

.bottom-links a:hover {
    text-decoration: underline;
}