*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --colour-light-blue: #F0F4FF;
    --colour-white: #FFFFFF;
    --color-blue: #0938B1;


}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    background-color: var(--colour-white)
}

nav{
    background-color: var(--colour-light-blue);
}

.navbar-brand {
    font-weight: 400;
    color: var(--color-blue);
}

.navbar-brand span {
    font-weight: 700;
}

.nav-item .nav-link {
    font-weight: 400;
}

.nav-item .btn {
    font-weight: 700;
}

.texts h1{
    font-weight: 700;
}

.texts p {
    font-weight: 400;
}

.texts {
    width: 483px;
}

.chats {
    position: absolute;
    width: 242px;
    height: 80px;
    left: 9px;
    top: 500px;
    background: #FAFAFA;
    border: 2px solid #F2BD00;
    box-sizing: border-box;
    box-shadow: 0px 15px 20px rgba(236, 236, 236, 0.8);
    border-radius: 15px;
    display: flex;
    padding-top: 20px;
    font-size: 12px;
    text-align: left;
    margin-left: 4%;
}

.chats img {
    display: inline;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 1px;
    width: 50px;
}
