*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color-blue: #0938B1;
    --color-yellow: #F2BD00;
    --color-green: #00A124;
}

body, html {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url(./bgImage.png);
    background-position: center;
    background-repeat: no-repeat;

}

.body {
    
}

header {
    border: 2px solid var(--color-blue);
    height: 80px;
    background-color: var(--color-blue);
    padding: 0 10px;
    width: auto;
}

.header {
    justify-content: space-between;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.first-heading {
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 30px;
    font-size: 28px;
}

.second-heading {
    font-weight: lighter;
}

.contact {
    background-color: var(--color-yellow);
    color: #FFFFFF;
    margin-right: 30px;
    height: 80px;
    width: 120px;
    font-weight: bold;
    border: none;
    margin-top: 0px;
    border-radius: 5px;
    top: 0px;
}

.main-text {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    margin-left: 80px;
    margin-top: 120px;
    line-height: 20px;
}

.up-curve {
    margin-top: 0px;
    margin-left: 180px;
    position: absolute;
    bottom: 340px;
    left: 54px;
    width: 125px;
}

.small-text {
    font-family: Inter;
    font-weight: normal;
    font-size: 28px;
    width: 500px;
    margin: 80px;
}

.second-text {
    color: var(--color-yellow);
    position: relative;
}

.animation {
    position: absolute;
    width: 500px;
    height: 450px;
    left: 600px;
    top: 190px;
    flex-wrap: wrap;
    
}

.second-contact {
    background-color: var(--color-blue);
    color: #FFFFFF;
    position: static;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-left: 80px;
}

footer {
    margin-top: 128px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    bottom: 0%;
    overflow: hidden;
}

.fine-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-1 {
    background: var(--color-green);
    width: 315px;
    padding: 2px;
}

.rectangle-2 {
    background: #E41B0E;
    width: 315px;
    padding: 2px;
}

.rectangle-3 {
    background: var(--color-blue);
    width: 315px;
    padding: 2px;
}

.rectangle-4 {
    background: var(--color-yellow);
    width: 315px;
    padding: 2px;
 }    

@media only screen and (max-width: 390px) {

    main {
        display: block;
    }

    .first-heading {
        margin-left: 5px;
    }

    .contact {
        margin-right: 5px;
    }

    .up-curve {
        top: 290px;
        left: 0px;
        margin-left: 140px;
        width: 110px;
    }
    .all {
        display: flex;

    }

    .main-text {
        font-size: 45px;
        margin-left: 40px;
    }

    .small-text {
        font-size: 23px;
        width: 300px;
        margin-left: 40px;
        line-height: 30px;
    }

    .animation {
        display: none;
    }
}